{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }} - Nuevo Producto{% endblock %}

{% block principal %}
    <h1>Crear nuevo producto</h1>

    {{ include('producto/_form.html.twig') }}

    <a href="{{ path('producto_index') }}">Volver</a>
{% endblock %}
