{% extends 'layout.html.twig' %}

{% block title %}
    Acerca de la empresa
{% endblock %}

{% block principal %}
    <h2>Página acerca de nosotros</h2>
    <p>Ejemplo de uso de enlances href en nav</p>
{% endblock %}